p {
  max-width: 40rem;
  margin-inline: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.mint-container {
  margin: 2rem;
}

.header {
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, darkred 30%, red 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-block: 2rem;
}

.nft-button {
  margin-top: 5rem;
  height: 45px;
  padding-inline: 40px;
  padding-block: 12px;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, darkred, red);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.collection-link {
  color: red;
  text-decoration: none;
  border-bottom: 1px red solid;
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

footer span {
  color: red;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
